<section class="w-full">
  <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24">
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center mx-auto align-middle">
        <div class="text-center">
          <h1 class="max-w-5xl text-6xl leading-tight font-bold tracking-tighter md:text-5xl lg:text-6xl lg:max-w-7xl">
            It's
            <span class="block bg-yellow-300 text-8xl px-4">PAIRIN</span>
            <span>time!</span>
          </h1>
          <h3 class="text-2xl">Find programming partner fast and easy!</h3>
          <div class="flex justify-center w-full max-w-2xl gap-2 mx-auto mt-16">
            <div class="mt-3 rounded-lg sm:mt-0">
              <%= link_to new_user_registration_path do %>
                <button
                  role="button"
                  aria-label="Click to perform an action"
                  class="flex cursor-pointer items-center rounded-md border-2 border-black bg-[#bc95d4] px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
                >
                  Sign me in
                </button>
              <% end %>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <button
                role="button"
                aria-label="Click to perform an action"
                class="flex cursor-pointer items-center rounded-md border-2 border-black bg-yellow-300 px-5 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
              >
                Show me more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="relative flex w-full overflow-x-hidden border-b-8 border-t-2 border-black bg-white font-bold">
  <div class="animate-marquee whitespace-nowrap py-12 flex">
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-rails-plain-wordmark"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-c-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-clojure-line"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-csharp-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-css3-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-docker-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-dot-net-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-flutter-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-go-original-wordmark"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-javascript-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-kotlin-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-kubernetes-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-ruby-plain"></i>
    </span>
    <span class="flex justify-center items-center bg-yellow-300 border-2 border-black rounded-xl p-4 block w-12 h-12 md:w-24 md:h-24 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] mx-4 text-4xl">
      <i class="devicon-rust-plain"></i>
    </span>
  </div>
</div>

<div class="bg-yellow-50 pb-24 flex items-center flex-col">
  <h2 class="font-bold text-center text-4xl pb-4 pt-16 md:text-6xl text-[#bc95d4] border-dashed border-b-4 md:pt-24 border-black">
    How it works!
  </h2>

  <div class="flex flex-col mt-24 gap-12 md:gap-24 md:flex-row md:mt-36">
    <div class="w-[250px] mt-8 rounded-md border-2 border-black bg-[#bc95d4] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
      <div class="border-b-2 border-black p-4">
        <h2 class="text-lg">1. Post a request</h2>
      </div>
      <div class="p-4">
        <p>
          Describe the problem you're trying to solve, languages that you're planning to use and time you want
          to spend.
        </p>
      </div>
    </div>

    <div class="w-[250px] mt-8 rounded-md border-2 border-black bg-[#bc95d4] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
      <div class="border-b-2 border-black p-4">
        <h2 class="text-lg">2. Accept application</h2>
      </div>
      <div class="p-4">
        <p>
          Choose one of (hopefully) many appliations you will receive. Don't hesitate to
          discuss all the neaty greaty details before you accept one of the applications.
        </p>
      </div>
    </div>

    <div class="w-[250px] mt-8 rounded-md border-2 border-black bg-[#bc95d4] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
      <div class="border-b-2 border-black p-4">
        <h2 class="text-lg">3. Schedule a session</h2>
      </div>
      <div class="p-4">
        <p>
          Agree with you pair how and when you'll tackle the issue. Have fun!
        </p>
      </div>
    </div>
  </div>

  <h2 class="mt-24 text-4xl font-bold">Happy Pairing!</h2>

  <div class="mt-12 rounded-lg">
    <button
      role="button"
      aria-label="Click to perform an action"
      class="flex cursor-pointer items-center rounded-md border-2 border-black bg-[#c9dcd8] px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
    >
      Sign up!
    </button>
  </div>
</div>

<div class="h-40 w-full border-t-2 border-black bg-[#bc95d4] font-bold">

</div>
