<div class="flex justify-center">
  <h3>Offers beaches</h3>

  <% @offers.each do |offer| %>
    <div class="">
      <p><%= offer.message %></p>
      <p><%= offer.offerer.email %></p>
      <%= button_to "Accept", accept_pair_request_offer_path(offer.pair_request.id, offer.id) %>
    </div>
  <% end %>
</div>
