<div class="border-2 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
  <div class="border-b-2 border-black">
    <h3 class="font-bold text-xl"><%= pair_request.subject %></h3>
  </div>
  <div class="">
    <p class="font-semibold"><%= pair_request.description %></p>
  </div>
  <div class="flex justify-start space-x-2 w-full">
    <% pair_request.tags.each do |tag| %>
      <div class="w-min rounded-full border-2 border-black bg-[#bc95d4] px-3 py-1.5 text-sm font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none">
        <%= tag.name %>
      </div>
    <% end %>
  </div>
  <div>
    <% if pair_request.offers.pluck(:offerer_id).include?(current_user.id) %>
      <p>You have already sent an offer</p>
    <% else %>
      <%= link_to(
        "Make an offer",
        new_pair_request_offer_path(pair_request.id),
        class: "flex cursor-pointer items-center rounded-md border-2 border-black bg-[#bc95d4] px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none",
        data: { turbo: false }
      ) %>
    <% end %>
  </div>
</div>
