<div class="border-2 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
  <div class="border-b-2 border-black">
    <h3 class="font-bold text-xl"><%= pair_request.subject %></h3>
  </div>
  <div class="">
    <p class="font-semibold"><%= pair_request.description %></p>
  </div>
</div>
