<div class="flex justify-center">
  <%# Add filter form here %>

  <%= turbo_frame_tag "pair-requests" do %>
    <%= render @pair_requests %>
    <%= render partial: "next_page" %>
  <% end %>
</div>
