<div class="mb-12 border-2 pb-4 border-black rounded-t-md bg-white shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
  <div class="border-b-2 border-black py-4 px-2 rounded-t-md bg-green">
    <h3 class="font-bold text-xl"><%= pair_request.subject %></h3>
  </div>
  <div class="max-h-fit px-2 py-4">
    <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
      <p class="read-more-content" data-read-more-target="content">
        <%= pair_request.description %>
      </p>

      <button data-read-more-target="btn" data-action="read-more#toggle">Read more</button>
    </div>
  </div>

  <div class="flex justify-center pt-2 pb-4">
    <%= link_to "See applications",
      pair_request_offers_path(pair_request.id),
      data: { turbo: false },
      class: "flex cursor-pointer items-center rounded-md border-2 border-black bg-purple px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
    %>
  </div>
</div>
