<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <label>
    Tag<span class="text-sm">(select or enter)</span>

    <div class="flex gap-x-1">
      <div class="w-10/12">
        <%= f.combobox :tag_id,
          Tag.all.map { |tag| [tag.name, tag.id] },
          name_when_new: "pair_request[taggings_attributes][#{rand(10)}][tag_attributes][name]"
        %>
      </div>

      <button type="button" data-action="nested-form#remove" class="w-2/12 font-bold">X</button>
    </div>
  </label>

  <%= f.hidden_field :_destroy %>
</div>
