<div class="flex justify-center">
  <div class="w-full md:w-3/4 xl:w-4/6 2xl:w-1/2">
    <div class="flex w-full flex-wrap items-center justify-center mt-12 pb-8 border-b-4 border-black border-dashed">
      <h3 class="w-full text-5xl font-bold">Your requests</h3>
    </div>

    <div class="mt-12">
      <%= turbo_frame_tag "pair_requests" do %>
        <% @pair_requests.each do |pair_request| %>
          <%= render partial: "/users/pair_requests/pair_request", locals: { pair_request: pair_request } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
