<% flash.each do |flash_type, message| %>
  <div
    class="animate-appearThenFade flex items-center justify-center border-2 border-black bg-purple p-5 px-8 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
    data-controller="removals"
    data-action="animationend->removals#remove"
  >
    <%= message %>
  </div>
<% end %>
